.itemList {
   padding: 50px 0;
   margin-top: 50px;
   /* justify-content: space-around; */
}

.imgItem {
    cursor: pointer;
}

.loader {
    align-self: center;
}

.brand__link {
    color: #fff;
    text-decoration: none;
}

.brand__link:hover{
    color: inherit;
}

.selectedCount{
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* margin-right: 10px; */
}

.trashBox {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: block;
    margin-left: 10px;
}

.trashBox:hover {
    color: red;
}

/* .selectedItems {
    color: #fff;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.selectedItems:hover {
    color: #fff;
    text-decoration: underline;
} */

.checkBox {
    font-size: 16px;
    vertical-align: middle;
}

.checkBox input {
    cursor: pointer;
    margin-right: 10px;
}

.checkBox label {
    cursor: pointer;
    display: flex;
    align-items: center;

}

.itemInfo {
    margin-top: 100px;
}

.itemBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemTitle {
    max-width: 60%;
    text-align: center;
}

.itemTitle::first-letter {
    text-transform: uppercase;
}

.selected__list {
    padding: 30px 0;
}

.selected__back-button {
    margin-top: 100px;
}

.selected__title {
    margin-top: 40px;
}


@media (min-width: 767px) {
    body {
        overflow-y: scroll;
    }
}