.itemList {
   padding: 50px 0;
   margin-top: 50px;
   justify-content: space-around;
}

.imgItem {
    cursor: pointer;
}

.loader {
    align-self: center;
}

.selectedItems {
    color: #fff;
}

.checkBox {
    font-size: 16px;
    vertical-align: middle;
}

.checkBox input {
    cursor: pointer;
    margin-right: 10px;
}

.checkBox label {
    cursor: pointer;
    display: flex;
    align-items: center;

}

.itemInfo {
    margin-top: 100px;
}

.itemBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemTitle {
    max-width: 60%;
    text-align: center;
}

.itemTitle::first-letter {
    text-transform: uppercase;
}